html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://i.pinimg.com/originals/19/c2/2e/19c22e78acd36cbbc78d20d4f055d3ce.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.H-page h1 {
    transition: 1s;
    color: white;
    opacity: 0.82;
    text-shadow: 10px 0px 10px red;
    font-family: "Neue Frutiger World", Tahoma, sans-serif;
    filter: blur(1px);
    padding-top: 215px;
}

.H-page p {
    transition: 1s;
    color: white;
    opacity: 0;
    text-shadow: 10px 0px 10px red;
    font-family: "Neue Frutiger World", Tahoma, sans-serif;
    text-align: center;
    margin: 0 auto 0 auto;
    max-width: 100px;
}

.H-page:hover p {
    color: white;
    opacity: 1;
    text-shadow: 10px 0px 10px blue;
    font-family: "Neue Frutiger World", Tahoma, sans-serif;
    max-width: 100px;
    margin: 0 auto 0 auto;
}

.H-page:hover h1 {
    color: white;
    opacity: 1;
    text-shadow: 0px 10px 10px blue;
    font-family: "Neue Frutiger World", Tahoma, sans-serif;
    filter: blur(0px);
    padding-top: 205px;
}

.H-page {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 100px;
}

.main_text {
    background-color: rgba(101, 0, 11);
    height: 100px;
    text-align: center;
}

.main_text h1 {
    padding-top: 17px;
    font-family: "Neue Frutiger World", Tahoma, sans-serif;
    font-size: 50px;
    color: rgba(0,0,0);
}

.main_text2 {
    background-color: rgba(0, 49, 83);
    height: 100px;
    text-align: center;
}

.main_text2 h1 {
    padding-top: 17px;
    font-family: "Neue Frutiger World", Tahoma, sans-serif;
    font-size: 50px;
    color: rgba(204,204,255);
}

.section {
    background-color: rgba(43, 6, 6);
}

.section div {
    background-color: rgba(155, 17, 30);
    height: 420px;
    white-space: nowrap;
}

.section div .first_collum {
    background-color: rgba(155, 17, 30);
    width: 48%;
    height: 420px;
    white-space: normal;
    display: inline-block;
    align-items: center;
    overflow: hidden;
    margin-right: 3.8%;
    font-family: "Neue Frutiger World", Tahoma, sans-serif;
    font-size: 20px;
    color: rgba(255, 215, 0);
    justify-content: center
}

.section div .second_collum {
    background-color: white;
    width: 48%;
    height: 420px;
    white-space: normal;
    display: inline-block;
    align-items: center;
    overflow: hidden;
    vertical-align: top;
    object-fit: contain;
    border-radius: 360px;
}

.section div .second_collum img {
    width: 100%;
    height: 100%;
}

.section2 {
    background-color: rgba(0,149,182);
}

.section2 div {
    transition: 1s;
    background-color: rgba(0,149,182);
    height: 420px;
    white-space: nowrap;
}

.section2 div .first_collum {
    background-color: white;
    width: 48%;
    height: 420px;
    white-space: normal;
    display: inline-block;
    align-items: center;
    overflow: hidden;
    margin-right: 3.8%;
    font-family: "Neue Frutiger World", Tahoma, sans-serif;
    font-size: 20px;
    background-color: rgba(0,149,182);
    color: rgba(120,219,226);
    justify-content: center
}

.section2 div .second_collum {
    background-color: white;
    width: 48%;
    height: 420px;
    white-space: normal;
    display: inline-block;
    align-items: center;
    overflow: hidden;
    vertical-align: top;
    object-fit: contain;
    border-radius: 360px;
    vertical-align: center;
}

.section2 div .second_collum img {
    width: 100%;
    height: 100%;
}

footer {
    width: 100%;
    height: 50px;
    background-color: rgba(1, 50, 32);
    font-family: "Neue Frutiger World", Tahoma, sans-serif;
    font-size: 20px;
}

footer a img {
    transition: 2s;
    width: 20px;
    height: 20px;
}

footer a img:hover {
    width: 100%;
    height: 1000px;
}
